video {
    width: 18vw;
    //  height: 8vh;
    background-color: #000000;
    object-fit: cover;

}
.nextVideos__title {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    color: #e1e1e1;
}

.videoContainer {
    display: flex;

    __items {
        flex-direction: row;
    }
}
ul {
    list-style: none;
    padding-left: 5%;
 a{
    text-decoration: none;
 }
}
