@use '../../partials/mixins.scss';

.nextVideo-texts-container {
    display: flex;
    flex-direction: column;

    .next-video__title {
        padding-left: 5%;
        padding-top: 2%;
        text-align: left;
        text-decoration: none;

        @include mixins.tablet-and-desktop {
            margin-top: 35%;
        }
    }

    .next-video-info {
        padding-left: 5%;
        padding-top: 9%;
        text-align: left;
    }
}

ul {
    padding-right: 5%;
}

.side-videos {
    width: 20vw;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
}
