@use '../../partials/mixins.scss';

.comments-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.commentsForm-container {
    display: flex;
    flex-flow: wrap;
    padding-left: 5%;

    @include mixins.tablet-and-desktop {
        flex-direction: row;
        flex-flow: nowrap;
        padding-top: 0%;
        padding-bottom: 5%;


    }

    .comments-form__input {
        width: 70%;
        border-radius: 5px;

        @include mixins.tablet-and-desktop {
            width: 30%;
            margin-top: 7%;
            margin-bottom: 5%;
            padding-left: 8%;
            padding-right: 7%;
        }
    }

    .avatar {
        width: 10%;
        height: auto;
        border-radius: 50%;
        margin-left: 5%;
        margin-right: 5%;

        @include mixins.tablet-and-desktop {
            width: 5%;
            padding-top: 4%;
            padding-bottom: 5%;

        }
    }

    .forms_submit {
        width: 70%;
        padding-left: 20%;
        padding-top: 5%;
        padding-bottom: 5%;

        .submit-button {
            display: flex;
            padding-left: 37%;
            padding-right: 38%;
            border: 1px solid gray;
            border-radius: 5px;
            background-color: #0095ff;

            @include mixins.tablet-and-desktop {
                padding-top: 3.5%;
                padding-bottom: 3.5%;
            }

            img {
                margin-left: -137;
            }

            .button-text {
                margin-left: 30%;
            }
        }
    }
}

.comments-form__number {
    text-align: left;
    padding-left: 5%;
}

.comments-form__title {
    color: #e1e1e1;
    margin-right: 9%;

    @include mixins.tablet-and-desktop {
        margin-right: 27%;
    }
}
