@use '../../partials/mixins.scss';

.comments-lowerContainer {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;

    @include mixins.tablet-and-desktop {
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 1%;
        margin-left: -4%;
    }

    .comments__name {
        margin-bottom: 0;
        margin-left: -50%;

        @include mixins.tablet-and-desktop {
            margin-left: -68%;
        }
    }

    .comments__timestamp {
        margin-left: auto;
        color: #e1e1e1;
    }

    .comments__avatar {

        width: 10%;
        height: auto;
        border-radius: 50%;
        margin-right: auto;
        background-color: #e1e1e1;

        @include mixins.tablet-and-desktop {
            margin-left: -4%;
            padding-left: 0;
            padding-top: 4%;
            padding-bottom: 2%;
            width: 6%;
        }

    }

}


.commentsContainer {
    margin-left: 7%;
    margin-right: 5%;
}

.comments__comment {
    text-align: left;
    padding-left: 23%;
    padding-right: 5%;
    padding-bottom: 5%;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #e1e1e1;

    @include mixins.tablet-and-desktop {
        padding-left: 5%;

    }
}
