video {
    width: 18vw;
    //  height: 8vh;
    background-color: #000000;
    object-fit: cover;

}


.videoContainer {
    display: flex;

    __items {
        flex-direction: row;
    }
}

ul {
    list-style: none;
}
