.comments-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// .avatar{
//     // position: relative;
//     width: 7vw;
//     height: 12vh;
//     margin-top: 1vh;
//     border-radius: 50%;
//   }
