@use './partials/mixins.scss';
.App {
  text-align: center;
  // padding: 4vw;
}

h1 {
  @include mixins.h1-mobile;
  @include mixins.tablet-and-desktop {
@include mixins.h1-desktop;
    }
}
h3 {
  @include mixins.h3-bothscreens;
}
h4 {
  @include mixins.h4-mobile;
  @include mixins.tablet-and-desktop {
@include mixins.h4-desktop;
    }
}
p {
  @include mixins.p-mobile;
  @include mixins.tablet-and-desktop {
@include mixins.p-desktop;
    }
}

video {
  margin-top: 5%;
}
.mainInfo {
  display: flex;
  flex-direction: column;
  @include mixins.desktop {
    display: flex;
    width: 60vw;
  }
}
