.App {
  text-align: center;
  padding: 4vw;
}
.avatar{
  position: relative;
  width: 7vw;
  height: 12vh;
  margin-top: 1vh;
  border-radius: 50%;
}
video{
  margin-top: 5%;
}

.mainInfo {
  display: flex;
flex-direction: column;
 
  &__items{

  }
}
